<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-item-divider>
      <ion-title color="dark" class="ion-text-start">Mi pedido</ion-title>
      <ion-buttons slot="start">
        <ion-button color="dark" (click)="back()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-label color="dark" slot="end" class="mx-2" (click)="edit_Order()">{{editOrder}}</ion-label>

    </ion-item-divider>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let item of data.order; let i = index">
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="ion-text-start">
          <h5 *ngIf="!flag">{{item.quantity}}x</h5>
          <h5 *ngIf="flag">
            <ion-checkbox color="danger" (click)="isChecked($event,i)"></ion-checkbox>
          </h5>
        </ion-col>
        <ion-col class="ion-text-start">
          <h4>{{item.name}}</h4>
        </ion-col>
        <ion-col class="ion-text-end">
          <h3>${{item.price}}</h3>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size='6'>
          <ion-label>SubTotal</ion-label>
        </ion-col>
        <ion-col size='6'>
          <ion-label class="ion-text-end">
            <h1>${{data.total_amount}}</h1>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>

<ion-footer>

  <button *ngIf="!loading" expand="block" class="btn rounded-pill btn-block m-4" (click)="optionsOrder()"
    style="background-color: #F90050 !important; height: 3em; color: white; margin-left: 0 !important;">{{pedir}}</button>

  <button *ngIf="loading" expand="block" class="btn rounded-pill btn-block m-4" disabled
    style="background-color: #F90050 !important; height: 3em; color: white; margin-left: 0 !important;">
    <ion-spinner></ion-spinner>
  </button>

</ion-footer>
