<ion-header>
  <ion-toolbar>
    <ion-title>Encuesta</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="titulo" >
    <ion-card>
      <h3 class="ion-text-center">Coma y punto</h3>
        <h5>¡Hola!, Tu opinion nos interesa, califica tu vista al local</h5>
    </ion-card>
  </div>

  <div id="titulo" >
    <ion-card>
     
      



    </ion-card>
  </div>



</ion-content>
