<ion-header>
  <ion-toolbar>
    <ion-title>Encuesta</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <div id="titulo">
    <ion-card>
      <ion-label>Que tan satisfecho has estado con la atencion:*</ion-label>
      <ion-item>
        <span id='rate' for="customRange2" class="form-label emoji">{{emojis[range]}}</span>
        <ion-range min="0" max="4"  pin color="dark" [(ngModel)]="range" (ngModelChange)="setRam($event)"
          id="customRange2">
        </ion-range>
      </ion-item>

      <ion-list>
        <ion-radio-group value="recomienda" [(ngModel)]="recomienda">
          <ion-list-header>
            <ion-label>Recomendarias el restaurante a un amigo:*</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Si</ion-label>
            <ion-radio slot="start" value="si"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>No</ion-label>
            <ion-radio slot="start" value="no"></ion-radio>
          </ion-item>

        </ion-radio-group>
      </ion-list>


      <ion-list>
        <ion-list-header>Que probaste:*</ion-list-header>
          <ion-item *ngFor="let entry of probo">
            <ion-label>{{entry.val}}</ion-label>
            <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
          </ion-item>
      </ion-list>

      <ion-item>
        <ion-label>¿Volverias a visitarnos?*</ion-label>
        <ion-select interface="action-sheet" [(ngModel)]="volverias">
          <ion-select-option value="si">Si</ion-select-option>
          <ion-select-option value="no">No</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Comentarios*</ion-label>
        <ion-textarea placeholder="Escribe una breve reseña" [(ngModel)]="comentarios"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-button expand="full" style="width: 100% !important;" (click)="takePicture()" size="large">
          <ion-icon slot="icon-only" name="camera"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>

    <div class="ion-text-center" size-md="6" size-lg="5" size-xs="12">
      <ion-card color="light" class="auth-card ion-margin">
        <div class="ion-align-items-center" style="background-color: white;">
          <div *ngIf="takePhoto!=false">
            <img [src]="imageElement" class="m-1" style="border: 2px solid gray; width: auto;height: 120px;">
          </div>
        </div>
      </ion-card>
    </div>


    <div padding *ngIf="!cargando">
      <ion-button class="ion-margin-start ion-margin-end ion-margin-bottom" color="success" size="large"
        (click)="enviar()" expand="block">Enviar</ion-button>
    </div>

    <div padding *ngIf="cargando">
      <ion-button class="ion-margin-start ion-margin-end ion-margin-bottom" color="success" size="large" type="submit"
        disabled expand="block">
        <ion-spinner name="circles" color="dark"></ion-spinner>
      </ion-button>
    </div>




  </div>
</ion-content>