<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="!isAnonimous">Alta de Cliente</ion-title>
    <ion-title *ngIf="isAnonimous">Ingreso Anónimo</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" routerLink="/login">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary">
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
          </div>
          <div class="ion-text-center" size-md="6" size-lg="5" size-xs="12">
            <ion-card color="light" class="auth-card ion-margin">
              <ion-item>
                <ion-input name="name" id="name" type="text" placeholder="Nombre" ngModel required></ion-input>
                <ion-icon name="person"></ion-icon>
              </ion-item>
              <ion-item *ngIf="!isAnonimous">
                <ion-input name="lastname" id="lastname" type="text" placeholder="Apellido" ngModel required>
                </ion-input>
              </ion-item>
              <ion-item *ngIf="!isAnonimous">
                <ion-input name="email" id="email" type="text" placeholder="Email" ngModel required>
                </ion-input>
              </ion-item>
              <ion-item *ngIf="!isAnonimous">
                <ion-input name="dni" type="number" id="DNI" placeholder="DNI" ngModel required></ion-input>
              </ion-item>
              <ion-item *ngIf="!isAnonimous">
                <ion-input name="password" type="password" id="password" placeholder="Clave" ngModel required>
                </ion-input>
              </ion-item>
              <ion-item *ngIf="!isAnonimous">
                <ion-input name="confirm" type="password" id="confirm" placeholder="Repita Clave" ngModel required>
                </ion-input>
              </ion-item>
              <ion-item>
                <div *ngIf="imageElement!=undefined">
                  <img [src]="imageElement" class="m-1" style="border-radius: 100%; width: 120px;height: 120px;">
                </div>
                <ion-button (click)="takePicture()">
                  <ion-icon name="camera"></ion-icon>
                </ion-button>
              </ion-item>
            </ion-card>
          </div>
          <div padding>
            <div padding *ngIf="!cargando">
              <ion-button class="ion-margin-start ion-margin-end ion-margin-bottom" color="success" size="large"
                type="submit" [disabled]="form.invalid" expand="block">Confirmar</ion-button>
            </div>

            <div padding *ngIf="cargando">
              <ion-button class="ion-margin-start ion-margin-end ion-margin-bottom" color="success" size="large"
              type="submit" disabled expand="block"> <ion-spinner name="circles" color="dark"></ion-spinner></ion-button>
            </div>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>


  </form>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="openQR()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
