#container {
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
    background: #2B3E50;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  ion-content
  {
      --background: #6FC4E3;
  }
  .title, .info{
    width: 100%;
    background: rgba(255, 255, 255, 0);
    color: #ffffff;
    padding: 5px;
    text-align: center;
}
#container .discount{
  color: white;
  background-color: #15ff009a;
}

.tablero{
    margin-top: 10px;
    color: white;
    border: solid white 1px;
    background: #000000a6;
}

.cell{
    width:85px;
    height:85px;
    font-size: 30pt;
    font-family: arial;
    font-weight: 0.5px;
    text-align: center;
    border: solid white 1px
}


.btnRestart{
    margin-left: 10px;
}


.score{
    width: 200px;
	border:2px solid white;
	text-align: center;
	margin:10px auto; /*top and bottom 20 px and centre it*/
	padding: 20px 20px;
	font-size: 20px;
	position: relative;
	transition: 0.3s ease-in;
    color: white;
}

.badge{
	background-color: #15ff009a;
	padding: 2px 20px;
	font-size: 15px;
}

#user-label{
	position: absolute;
	top:10px;
	left: 10px;
}
#comp-label{
	position: absolute;
	top: 10px;
	right: 20px;
}

.resultado{
	font-size: 40px;
	text-align: center;
	color: rgb(255, 255, 255);
}

.info{
    font-size: 25px;
    color: #15ff009a;

}


.btnGuardar{
    margin-left: 110px;
}

.btnScores{
    margin-left: 100px;
}

.btnChat{
    margin-left: 120px;
}

