<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bienvenido
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="container mt-3 ion-text-center">

    <div id="escanearMesa" *ngIf="displayQRmesa" align="center">
      <ion-card>
        <!-- si existe el usuario en la lista de espera y NO esta con estado esperando muestro lo siguiente:-->
        <h1 *ngIf="existeUserEnListaEspera && !userEsperandoAsignacionDeMesa">Ha sido asignado a Mesa {{numeroMesa}}</h1>
        <!-- si NO existe el usuario en la lista de espera (sea con status ingresado o esperando) muestro lo siguiente: -->
        <h3 *ngIf="!existeUserEnListaEspera">Escanee el QR para ingresar al establecimiento</h3>
        <!-- si existe el usuario en la lista de espera y SI esta con estado esperando muestro lo siguiente: -->
        <h3 *ngIf="existeUserEnListaEspera && userEsperandoAsignacionDeMesa">Aguarde un momento, en breve le asignaremos una mesa</h3>
        <ion-fab-button class="mb-2" (click)="openQR()" *ngIf="!existeUserEnListaEspera">
          <ion-icon name="qr-code-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button class="mb-2" (click)="openQRmesa()" *ngIf="existeUserEnListaEspera && !userEsperandoAsignacionDeMesa">
          <ion-icon name="qr-code-outline"></ion-icon>
        </ion-fab-button>
      </ion-card>
    </div>

    <div id="enEspera" *ngIf="actionsMesa">
      <ion-card>
        <h1>Acciones</h1>
        <ion-button expand="block" (click)="cartfood()">Carta</ion-button>
        <br>
        <ion-button expand="block" (click)="consultar()">Consultar</ion-button>
        <br>
        <br>
      </ion-card>
    </div>


    <div id="enEspera" *ngIf="carga">
      <ion-card>
        <h3>Procesando..</h3>
        <ion-spinner></ion-spinner>
        <h3>Espere</h3>
      </ion-card>
    </div>

    <!-- cambiar el false por variable -->
    <div id="juegosEncuesta" *ngIf="false"> 
      <ion-card>
        <h1>Acciones</h1>
        <ion-button expand="block" (click)="BTNjuegos()">Juegos</ion-button>
        <br>
        <ion-button expand="block" (click)="BTNencuesta()">Encuesta</ion-button>
        <br>
      </ion-card>
    </div>


    <br>
    <img src="../../assets/icon.png" height="200px" alt="">
    <h4>Coma y punto </h4>
  </div>



</ion-content>
