<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Bienvenido
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">
        <ion-icon slot="icon-only" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="container mt-3 ion-text-center">

    <!--     <div id="ingresarAlistaEspera" *ngIf="displayQREspera" align="center">
      <ion-card>
      <h1>Lista de espera</h1>
      <h3>Escanee el QR para ingresar</h3>
      <ion-fab-button class="mb-2" (click)="openQR()">
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-fab-button>
    </ion-card>
    </div>

    <div id="enEspera" *ngIf="!displayQREspera">
      <ion-card>
        <h1>Lista de espera</h1>
        <ion-spinner></ion-spinner>
        <h3>Espere a ser aceptado</h3>
      </ion-card>
    </div>
 -->

    <div id="escanearMesa" *ngIf="displayQRmesa" align="center">
      <ion-card>
        <h1>Ha sido asignado a Mesa {{numeroMesa}}</h1>
        <h3>Escanee el QR para tomar la mesa</h3>
        <ion-fab-button class="mb-2" (click)="openQRmesa()">
          <ion-icon name="qr-code-outline"></ion-icon>
        </ion-fab-button>
      </ion-card>
    </div>



    <div id="enEspera" *ngIf=" true">
      <ion-card>
        <h1>Acciones</h1>
        <ion-button expand="block" (click)="cartfood()">Carta</ion-button>
        <br>
        <ion-button expand="block" (click)="consultar()">Consultar</ion-button>
        <br>
        <br>
      </ion-card>
    </div>


    <div id="enEspera" *ngIf="carga">
      <ion-card>
        <h3>Procesando..</h3>
        <ion-spinner></ion-spinner>
        <h3>Espere</h3>
      </ion-card>
    </div>


    <div id="juegosEncuesta" >
      <ion-card>
        <h1>Acciones</h1>
        <ion-button expand="block" (click)="BTNjuegos()">Juegos</ion-button>
        <br>
        <ion-button expand="block" (click)="BTNencuesta()">Encuesta</ion-button>
        <br>
      </ion-card>
    </div>


    <br>
    <img src="../../assets/icon.png" height="200px" alt="">
    <h4>Coma y punto </h4>
  </div>



</ion-content>
