<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Administrar pedidos
    </ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



  <ion-row>
    <ion-col>
      <ion-button [color]="buttonColor1" expand="block" (click)="verPendientesBTN()">Pendientes</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [color]="buttonColor2" expand="block" (click)="verEnPreparacionBTN()">En preparacion</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [color]="buttonColor3" expand="block" (click)="verAentregarBTN()">A entregar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [color]="buttonColor4" expand="block" (click)="verAcobrarBTN()">A cobrar</ion-button>
    </ion-col>
  </ion-row>
  <ion-button [color]="buttonColor5" expand="block" (click)="verCobradosBTN()">Finalizados</ion-button>


  <div *ngIf="verPendientes">
    <div *ngFor="let pedido of pedidos; let i = index ">


      <ion-card *ngIf="pedido.status == 'pendiente'">
        <ion-card-content>
          <ion-row>

            <ion-col>
              <h2 class="mt-1"> <b>Mesa: {{pedido.table}} </b> </h2>
              <h4 class="mt-1" *ngFor="let plato of pedido.order">
                <b>Plato:</b> {{plato.name |titlecase}}
              </h4>
              <h4 class="mt-1">Cantidad total: {{pedido.total_quantity}}</h4>
              <h4 class="mt-1">Estado: <b>{{pedido.status | titlecase }}</b></h4>
            </ion-col>
            <ion-col>
              <ion-button color="success" expand="block mt-3" *ngIf="pedido.status != 'aceptado'"
                (click)="Aceptar(pedido)">Aceptar</ion-button>
              <ion-button color="danger" expand="block mt-3" *ngIf="pedido.status != 'rechazado'"
                (click)="Rechazar(pedido)">Rechazar</ion-button>
            </ion-col>

          </ion-row>

        </ion-card-content>
      </ion-card>
    </div>
  </div>


  <div *ngIf="verEnPreparacion">
    <div *ngFor="let pedido of pedidos; let i = index ">


      <ion-card *ngIf="pedido.status == 'preparando'">
        <ion-card-content>
          <ion-row>

            <ion-col>
              <h2 class="mt-1"> <b>Mesa: {{pedido.table}} </b> </h2>
              <h4 class="mt-1" *ngFor="let plato of pedido.order">
                <b>Plato:</b> {{plato.name |titlecase}}
              </h4>
              <h4 class="mt-1">Cantidad total: {{pedido.total_quantity}}</h4>
              <h4 class="mt-1">Estado: <b>{{pedido.status |titlecase  }}</b></h4>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </div>
  </div>



  <div *ngIf="verAentregar">
    <div *ngFor="let pedido of pedidos; let i = index ">


      <ion-card *ngIf="pedido.statusCheff && pedido.statusBartender">

        <div *ngIf="!(pedido.status == 'cobrado') ">

          <ion-card-content *ngIf="!(pedido.status == 'entregado') ">

            <ion-row>

              <ion-col>
                <h2 class="mt-1"> <b>Mesa: {{pedido.table}} </b> </h2>
                <h4 class="mt-1" *ngFor="let plato of pedido.order">
                  <b>Plato:</b> {{plato.name |titlecase}}
                </h4>
                <h4 class="mt-1">Cantidad total: {{pedido.total_quantity}}</h4>
                <h4 class="mt-1">Estado: <b>{{pedido.status | titlecase  }}</b></h4>
              </ion-col>

              <ion-col>
                <ion-button *ngIf="!(pedido.status == 'entregando')" color="success" expand="block mt-3" (click)="Entregar(pedido)">Entregar</ion-button>
              </ion-col>

            </ion-row>

          </ion-card-content>
        </div>
      </ion-card>
    </div>
  </div>



  <div *ngIf="verAcobrar">
    <div *ngFor="let pedido of pedidos; let i = index ">


      <ion-card *ngIf="pedido.status == 'pagado'">
        <ion-card-content>
          <ion-row>

            <ion-col>
              <h2 class="mt-1"> <b>Mesa: {{pedido.table}} </b> </h2>
              <h4 class="mt-1" *ngFor="let plato of pedido.order">
                <b>Plato:</b> {{plato.name |titlecase}}
              </h4>
              <h4 class="mt-1">Cantidad total: {{pedido.total_quantity}}</h4>
              <h4 class="mt-1">Estado: <b>{{pedido.status |titlecase  }}</b></h4>
            </ion-col>
            <ion-col>
              <ion-button *ngIf="(pedido.status == 'pagado')"  color="success" expand="block mt-3" (click)="Cobrar(pedido)">Cobrar</ion-button>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </div>
  </div>


  <div *ngIf="verCobrados">
    <div *ngFor="let pedido of pedidos; let i = index ">


      <ion-card *ngIf="pedido.status == 'cobrado'">
        <ion-card-content>
          <ion-row>

            <ion-col>
              <h2 class="mt-1"> <b>Mesa: {{pedido.table}} </b> </h2>
              <h4 class="mt-1" *ngFor="let plato of pedido.order">
                <b>Plato:</b> {{plato.name |titlecase}}
              </h4>
              <h4 class="mt-1">Cantidad total: {{pedido.total_quantity}}</h4>
              <h4 class="mt-1">TOTAL: {{pedido.total_amount}}</h4>
              <h4 class="mt-1">Estado: <b>{{pedido.status |titlecase  }}</b></h4>
            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div *ngIf="!pedidos" align="center">
    <br> <br>
    <ion-spinner name="circles" color="dark"></ion-spinner>
  </div>

</ion-content>
