<ion-header>
  <ion-toolbar>
    <ion-title>Administar Usuarios</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-card>
    <img src="https://www.uic.mx/posgrados/files/2018/05/default-user.png" height="80px" class="mt-2 ml-2" />
    <ion-card-content>
      <h3>Nombre: Juan Pedro</h3>

      <ion-button color="success">Aceptar</ion-button>
      <ion-button color="danger">Rechazar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.uic.mx/posgrados/files/2018/05/default-user.png" height="80px" class="mt-2 ml-2" />
    <ion-card-content>
      <h3>Nombre: Carlos Alvarez</h3>
      <ion-button color="success">Aceptar</ion-button>
      <ion-button color="danger">Rechazar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://www.uic.mx/posgrados/files/2018/05/default-user.png" height="80px" class="mt-2 ml-2" />
    <ion-card-content>
      <h3>Nombre: Ruben Fonte</h3>

      <ion-button color="success">Aceptar</ion-button>
      <ion-button color="danger">Rechazar</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
