<ion-header>
  <ion-toolbar>
    <ion-title>Administar Usuarios</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col>
      <ion-button [color]="buttonColor1" expand="block" (click)="verPendientesBTN()">Pendientes</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [color]="buttonColor2" expand="block" (click)="verAceptadosBTN()">Aceptados</ion-button>
    </ion-col>
    <ion-col>
      <ion-button [color]="buttonColor3" expand="block" (click)="verTodosBTN()">Todos</ion-button>
    </ion-col>
  </ion-row>

  <div *ngIf="verAceptados">
    <div *ngFor="let user of usuarios; let i = index ">


      <ion-card *ngIf="user.estado == 'aceptado'">
        <ion-card-content>
          <ion-row>
            <ion-col>
              <img *ngIf="user.image" src="{{user.image}}" class="m-1"
                style="border-radius: 95%; width: 120px;height: 120px;">
              <img *ngIf="!user.image" src="https://www.uic.mx/posgrados/files/2018/05/default-user.png" height="80px"
                class="mt-3 ml-2" />
            </ion-col>
            <ion-col>
              <h2 class="mt-5">{{user.name}}</h2>
              <h2 class="mt-1">{{user.estado | primerLetraMayus}}</h2>
            </ion-col>
            <ion-col>
              <ion-button color="success" expand="block mt-3" *ngIf="user.estado != 'aceptado'" (click)="Aceptar(user)">Aceptar</ion-button>
              <ion-button color="danger" expand="block mt-3" *ngIf="user.estado != 'rechazado'" (click)="Rechazar(user)">Rechazar</ion-button>
            </ion-col>

          </ion-row>

        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div *ngIf="verPendientes">
    <div *ngFor="let user of usuarios; let i = index ">




      <ion-card *ngIf="user.estado == 'pendiente'">
        <ion-card-content>
          <ion-row>
            <ion-col>
              <img *ngIf="user.image" src="{{user.image}}" class="m-1"
                style="border-radius: 95%; width: 120px;height: 120px;">
              <img *ngIf="!user.image" src="https://www.uic.mx/posgrados/files/2018/05/default-user.png" height="80px"
                class="mt-3 ml-2" />
            </ion-col>
            <ion-col>
              <h2 class="mt-5">{{user.name}}</h2>
              <h2 class="mt-1">{{user.estado | primerLetraMayus}}</h2>
            </ion-col>
            <ion-col>
              <ion-button color="success" expand="block mt-3" *ngIf="user.estado != 'aceptado'" (click)="Aceptar(user)">Aceptar</ion-button>
              <ion-button color="danger" expand="block mt-3" *ngIf="user.estado != 'rechazado'" (click)="Rechazar(user)">Rechazar</ion-button>
            </ion-col>

          </ion-row>

        </ion-card-content>
      </ion-card>
    </div>
  </div>


  <div *ngIf="verTodos">
    <div *ngFor="let user of usuarios; let i = index ">

      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col>
              <img *ngIf="user.image" src="{{user.image}}" class="m-1"
                style="border-radius: 95%; width: 120px;height: 120px;">
              <img *ngIf="!user.image" src="https://www.uic.mx/posgrados/files/2018/05/default-user.png" height="80px"
                class="mt-3 ml-2" />

            </ion-col>
            <ion-col>
              <h2 class="mt-5">{{user.name}}</h2>
              <h2 class="mt-1">{{user.estado | primerLetraMayus}}</h2>
            </ion-col>
            <ion-col>
              <ion-button color="success" expand="block mt-3" *ngIf="user.estado != 'aceptado'" (click)="Aceptar(user)">Aceptar</ion-button>
              <ion-button color="danger" expand="block mt-3" *ngIf="user.estado != 'rechazado'" (click)="Rechazar(user)">Rechazar</ion-button>
            </ion-col>

          </ion-row>

        </ion-card-content>
      </ion-card>
    </div>
  </div>

  <div *ngIf="!usuarios" align="center">
    <br> <br>
    <ion-spinner name="circles" color="dark"></ion-spinner>
  </div>


</ion-content>
