<ion-header>
  <ion-toolbar>
    <ion-title>Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div> 
    <ion-card>
      <h3>Jugá y participá por un descuento de 10% en nuestra Carta</h3>
      <ion-button expand="block" (click)="juego1()">Juego 1</ion-button>
    </ion-card>
  </div>
  <div > 
    <ion-card>
      <h3>Jugá y participá por una bebida grátis</h3>
      <ion-button expand="block" (click)="juego2()">Juego 2</ion-button>
      <br>
    </ion-card>
  </div>
  <div > 
    <ion-card>
      <h3>Jugá y participá por un postre</h3>
      <ion-button expand="block" (click)="juego3()">Juego 3</ion-button>
      <br>
    </ion-card>
  </div>
  <br>
    <img src="../../assets/icon.png" height="200px" alt="">
    <h4>Coma y punto </h4>
</ion-content>
