<ion-header>
  <ion-toolbar>

    <ion-title>Inicio de Sesión</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content >
  <div id="container">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center" size-md="6" size-lg="5" size-xs="12">
          <form [formGroup]="miFormulario"
          (ngSubmit)="autenticar(miFormulario.value)">
            <div class="logo">
              <p></p>
            </div>
            <img src="../../../assets/icon.png" alt="" height="185" class="icono">

            <h1 class="titulo">Coma y punto</h1>

            <ion-card color="light" class="auth-card ion-margin">
              <ion-item color="light">
                <ion-input type="email" placeholder="Correo" formControlName="email" required></ion-input>
                <ion-icon name="mail-outline"></ion-icon>
              </ion-item>
              
              <ion-item color="light" class="ion-no-inner-padding-end">
                <ion-input type="password" placeholder="Clave" formControlName="clave" required></ion-input>
                <ion-icon name="key-outline"></ion-icon>
              </ion-item>
            </ion-card>

        <div padding *ngIf="!cargando">
            <ion-button expand="block" class="ion-margin-start ion-margin-end ion-margin-bottom" color="success"   type="submit" (click)="onLogin()"
              [disabled]="miFormulario.invalid">
              Iniciar Sesión
            </ion-button>
        </div>



            <div padding *ngIf="cargando">
              <ion-button expand="block" class="ion-margin-start ion-margin-end ion-margin-bottom" color="success"   disabled expand="block"> <ion-spinner name="circles" color="dark"></ion-spinner></ion-button>
            </div>
 
            <a [routerLink]="['/register']" [state]="{ value:'cliente'}">Registrarse</a> o <a [routerLink]="['/register']" [state]="{ value:'anonimo'}">Ingresar como anónimo</a>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom ml-2" horizontal="left" slot="fixed">
      <ion-fab-button color="dark">
        <ion-icon name="person"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button (click)="LoginFast(0)"><ion-icon name="analytics"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="LoginFast(1)"><ion-icon name="cash"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="LoginFast(2)"><ion-icon name="person-outline"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="LoginFast(3)"><ion-icon name="pizza"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="LoginFast(4)"><ion-icon name="person-outline"></ion-icon></ion-fab-button>
        <ion-fab-button (click)="LoginFast(5)"><ion-icon name="person"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <div style="margin:auto; width:50%">
      <ion-spinner name="bubbles" *ngIf="ingresando"></ion-spinner>
    </div>

  </div>
</ion-content>