<body>
  

<ion-app>
  <div>
    <div align="center">
      <ion-label class="ion-text-wrap">Capurro Sebastián<br>Sinisterra Luciano<br>Lodola Tomás</ion-label>
      <div class="divimg">
        <img class="bigote slide-in-top2" src="https://raw.githubusercontent.com/attrix182/tp3tests/master/calcui/bigote.png">
        <img class="cuchara slide-in-top" src="https://firebasestorage.googleapis.com/v0/b/saladejuegos-b1a8e.appspot.com/o/cuchara.png?alt=media&token=ffd5a387-1ea2-42fe-b44c-7a53cc923a8e">
        <img class="sombrero swirl-in-top-fwd" src="https://firebasestorage.googleapis.com/v0/b/saladejuegos-b1a8e.appspot.com/o/sombrero.png?alt=media&token=78226fb3-3ce0-4265-99ca-c9e78bb246d0">
        <img class="tenedor slide-in-top" src="https://firebasestorage.googleapis.com/v0/b/saladejuegos-b1a8e.appspot.com/o/tenedor.png?alt=media&token=1bec2ee5-f1e0-4ebb-8414-59d61166c030">
      </div>
      <ion-label class="footer">4A</ion-label>
    </div>
  </div> 
  <ion-router-outlet></ion-router-outlet>
</ion-app>
</body>