<ion-header>
  <ion-toolbar>
    <ion-title>Asignar Mesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card *ngFor="let mesa of listMesas">
    <ion-item>
      <ion-icon name="tablet-landscape" slot="start"></ion-icon>
      <ion-label>Mesa {{mesa.numero}}</ion-label>
      <ion-button fill="outline" slot="end" (click)="dismiss(mesa.numero)">Asignar</ion-button>
    </ion-item>
  
    <ion-card-content >Seleccione una Mesa
    </ion-card-content>
  </ion-card>

</ion-content>
