ion-toolbar{
    text-align: center;
}
ion-content
{
    --background: #6FC4E3;
}

.addRemove
{
    margin: auto;
    font-size: 25px;
    height: 45px;
    
}

.cantidadInput
{
    text-align: center;
    font-size: 25px;
}

.tipoMesa
{
    margin: auto;
    height: 35px;
    width: 250px;
    font-size: large;
}


ion-input {
    --placeholder-color: rgb(0, 0, 0);     /* placeholder text color */
    color: var(--ion-color-dark); /* input text color to primary */
    text-shadow: none;
}

