ion-toolbar{
    text-align: center;
}
ion-content
{
    --background: #6FC4E3;
}

.addRemove
{
    margin: auto;
    font-size: 25px;
    height: 45px;
    
}

.cantidadInput
{
    text-align: center;
    font-size: 25px;
}